@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
    min-height: 100vh;
}

p {
    padding: 0;
    margin: 0;
}

#word-form {
    padding: 1rem 0;
}

ul li {
    list-style: none;
}

#matches {
    border: 1px solid black;
    max-width: 800px;
    min-height: 8rem;
    max-height: 10rem;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem .5rem;
}

#matches li {
    list-style: none;
}


/* Webkit scrollbar */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}